workflows/automated-invoice-management-with-nextcloud,-email-and-telegram-notifications.json
{
  "createdAt": "2025-08-18T13:31:32.642Z",
  "updatedAt": "2025-08-18T13:31:32.642Z",
  "id": "FUhMRTBDXKbwQG4d",
  "name": "Automated Invoice Management with Nextcloud, Email and Telegram Notifications",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "d3b68e4f-d125-4abb-8aaf-70342d9de9d0",
      "name": "Start",
      "type": "n8n-nodes-base.scheduleTrigger",
      "notes": "Run every day at 8 AM",
      "position": [
        408,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "260222ad-1014-4c7d-ab26-7df4a754f556",
      "name": "List Incoming Invoices",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        788,
        400
      ],
      "parameters": {
        "path": "={{ $json.nextcloud_income }}",
        "resource": "folder",
        "operation": "list"
      },
      "typeVersion": 1
    },
    {
      "id": "963e8709-6e1b-4a58-8e75-0d0756b518e3",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        988,
        400
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.path }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c15f0a7e-a98c-43c9-acb9-935488db39c3",
      "name": "Download Invoice",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        1188,
        400
      ],
      "parameters": {
        "path": "={{ $json.path }}",
        "operation": "download"
      },
      "typeVersion": 1
    },
    {
      "id": "66f9d9a1-dc60-44d8-9480-3fce345cc59b",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1368,
        400
      ],
      "parameters": {
        "text": "Please find the attached invoice.",
        "options": {},
        "subject": "New Invoice",
        "toEmail": "={{ $('Set Parameters').item.json.to_email }}",
        "fromEmail": "={{ $('Set Parameters').item.json.from_email }}",
        "attachments": "=data"
      },
      "credentials": {
        "smtp": {
          "id": "QcKjtg6kc10W2JO1",
          "name": "SMTP account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fc3e3c16-5a24-4ef9-be37-a78ccb037cce",
      "name": "Archive File",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        1548,
        400
      ],
      "parameters": {
        "path": "={{ $('Download Invoice').item.json.path }}",
        "toPath": "=/N8N/2025/Archive",
        "operation": "move"
      },
      "typeVersion": 1
    },
    {
      "id": "f05b60ed-c575-42e9-bd24-8b9a8cc5a261",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1728,
        400
      ],
      "webhookId": "d8cbfea5-791c-4bba-ba75-d3ba1d4ba674",
      "parameters": {
        "text": "=Invoice sent: {{ $('List Incoming Invoices').item.json.path }}",
        "chatId": "617681859",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "GquYpMUrgGlWHbny",
          "name": "N8N Bot"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "719f7ed4-7632-4b75-b87b-300eb53e027c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "parameters": {
        "color": 4,
        "width": 1580,
        "height": 420,
        "content": "## This workflow automatically fetches PDF invoices \n**Reading in Nextcloud folder (`/Invoice/2025`), sends them via email to a fixed recipient (`invoice@example.com`), sends a Telegram notification, and archives the file to `/Invoice/Archive/2025`.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "acb6885a-209f-4664-b614-6295278eccbf",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        588,
        400
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "bafb2fe8-97f1-4dd0-8b08-39ed6358f5f3",
              "name": "from_email",
              "type": "string",
              "value": "info@example.com"
            },
            {
              "id": "96224c94-57a6-4b1a-8664-4a35f5d7c9de",
              "name": "to_email",
              "type": "string",
              "value": "invoices@example.com"
            },
            {
              "id": "ee268a74-898d-4a4b-9f24-5edebac34a76",
              "name": "nextcloud_income",
              "type": "string",
              "value": "/Invoices/2025"
            },
            {
              "id": "301764a6-a410-4aa9-b22b-6a77b0c0aa43",
              "name": "nextcloud_archive",
              "type": "string",
              "value": "/Invoices/Archive/2025"
            }
          ]
        }
      },
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Archive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive File": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Download Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "List Incoming Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Invoice": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Incoming Invoices": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": null,
  "staticData": null,
  "meta": {
    "templateId": "4655"
  },
  "pinData": null,
  "versionId": "5c15e82f-2f80-4cb8-be3e-6e63b86c7392",
  "triggerCount": 0,
  "tags": []
}